@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
p {
    margin: 0;
}

h1 {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
h2 {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}
#title1 {
    color: #FFFFFF;
    font-size: 30px;
}
body {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

#mainHeader {
    height: 12%;
    background-color: #232628;
    width: 100%;
    display: flex;
    justify-content: center;
}


/*Header tout en haut*/
#topHeader {
    height: 100%;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #232628;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    width: 77%;
}

.spaceadresse{
    MARGIN-TOP: 3px;
    font-size: 13px;

}

#adressediv2 {
    display: flex;

}

#telephonediv3{
    display: flex;
    align-items: center;
}

.tel{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.logosheader{
    width: 50px;
    height: 50px;
    margin-right: 4px;
}

.horairesChild{
    display: flex;
    align-items: center;
}
.horairesChild p{
    margin: 3px;
    font-size: 13px;

}

.color{
    color: #CC6119;
    text-transform: uppercase;
    font-size: 11px;
}
.logosSociaux {
    display: flex;
}

/*menu principal*/
#mainNav {
    color : #232628 ;
    background-color: #ECEFF3 ;
    width: 100%;
    height: 66px;
    font-weight: 600;
    font-size: 14px;
    }

#menu{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    padding-right: 15%;

    
}
.menuhoover{
    padding-block: 21px;
    padding-inline: 17px;
}
#mainNav a{
    color: #232628 ;
    text-transform: uppercase;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 1.5em;
}
#mainNav ul {
    list-style: none;
    margin: 0;
}
#mainNav li:hover {
    background-color: #CC6119 ;
    color: #FFFFFF;
}
#mainNav a:hover {
    background-color: #CC6119 ;
    color: #FFFFFF;
}

/*Titre Header*/


#titreheader {
    background-color: #232628;
    color: #FFFFFF;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
    height: 80px;
    align-items: center;
    padding-left: 15%;
    font-weight: bold;
    margin: 0;
    flex-wrap: wrap;

}
#titreheader2 {
    color: #CC6119;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 8px;

}
.accessibility {
    position : absolute;
    left: -15000px;
}

/*Contenu de la page accueil*/
.contentBloc {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    padding: 20px;


}
.textBloc {
    width: 50%;
    padding: 20px;

}
.imgbloc {
    padding: 20px;
    width: 50%;
    background-image: url(/images/clients.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imgbloc2 {
    padding: 20px;
    width: 50%;
    background-image: url(/images/entretien.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* bloc louer / acheter */
.bgRentBuy {
    display: flex;
    padding: 20px;
    width: 100%;
    background-image: url(/images/vehicule2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    background-size: cover;
    justify-content: center;
    }

.bgRent {
    background-color: #CC6119;
    opacity: 83%;
    padding: 40px;
    margin: 40px;
    color: #FFFFFF;
    width: 600px;
}
.bgBuy {
    background-color: red;
    opacity: 83%;
    padding: 40px;
    margin: 40px;
    color: #FFFFFF;
    width: 600px;

}
.titleRentBuy {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

/* bloc véhicules récents */

.blocVehiculesRecents {
    background-color: #232628;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#titrevehiculesrecents {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0;
    justify-content: center;
    border-bottom: 2px solid #CC6119;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.traitHorizontal {
    border-top: 2px solid #CC6119;
    width : 80%;
}

.caroussel {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 100%;
}
.imgCaroussel {
    width: 400px;
}

.blocPrix {
    display: flex;
    justify-content: space-evenly;
}

.blocPrixDetails {
    width: 400px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    margin-top: 10px;

}

.prixDetails {
    background-color: #6C98E1;
    padding: 10px ;
    margin: 20px;
    width: 30%;
}

.titleChoisir {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.alignChoose {
    display: flex;
    margin-left: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.icon {
    height: 50px;
    
}

.titlePlusPoints {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.button {
  background-color: #6C98E1;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.emplButton {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.bottom {
    background-image: url(/images/vehicule3.jpg);
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
    justify-content: flex-start;
    height: 600px;
    align-items: center;

}
.bgBottom {
    background-color: #CC6119;
    opacity: 83%;
    color: #FFFFFF;
    height: 48%;
    width: 30%;
    margin-left: 10%;
    padding: 3%;
}
.titlebottom {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin: 0;
    color: black;
    font-size: 30px;
}
.titlebottom2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
}
/* footer */
footer {
    height: 400px;
    width: 100%;
    background-color: #232628;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
}
.footerTop {
    height: 65%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
.footerBottom {
    height: 20%;
    width: 80%;
}
.footerTopElem {
    width: 20%;
    height: 65%;
    display: flex;
    flex-direction: column;
}
.colorTitleFooter {
    color: #6C98E1;
}
.footerTitleWhite {
    color: white;
}
.footerHoraires {
    display: flex;
    flex-direction: column;
}
.footerNews {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    svg {
        fill: white;
    }
        input {
        width: 87%;
        height: 100%;
        border: none;
    }
}
.newsButton {
    height: 100%;
    width: 13%;
    background-color: rgb(224, 90, 12);
    border: none;
}
.socialFooter {
    display: flex;
    justify-content: flex-start;
}
.logoSocialFooter {
    margin-right: 2%;
}
.footerBottom {
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* responsive */

@media screen and (max-width: 700px) {
    .bgBottom {
        width: 100%;
        margin: 0;
    }
    #title1 {
        display: none;
    }
    #adressediv2 {
        display: none;
    }
    #horairesspan {
        display: none;
    }
    #logosSociaux {
        display: none;
    }
    #imageHeader {
        display: none;
    }
    #titreheader {
        height: 140px;
    }
    #titreheader2 {
        margin: 0;
    }
    .logosSociaux {
        display: none;
    }
    
    #mainNav {
        display: none;
    }
    .contentBloc {
        flex-direction: column;
        justify-content: flex-start;
        height: 900px;
    }
    .imgbloc {
        height: 50%;
        width: 100%;
    }
    .imgbloc2 {
        height: 50%;
        width: 100%;
    }
    .textBloc {
        height: 50%;
        width: 100%;
    }
    .bgRentBuy {
        padding: 0;
        margin-top: 0;
        flex-direction: column;
    }
    .bgRent {
        margin: 0;
        padding: 34px;
        width: 86%;
        margin-top: 10%;
    }
    .bgBuy {
        margin: 0;
        padding: 34px;
        width: 86%;
        margin-top: 10%;
    }
    #img2 {
        display: none;
    }
    #img3 {
        display: none;
    }
    .alignChoose {
        flex-direction: column;
    }
    footer {
        height: 600px;
    }
    .footerTop {
        width: 90%;
        flex-direction: column;
        height: 100%;
    }
    .footerTopElem {
        width: 100%;
    }

}